<form class="form-inline coming-soon-form">
    <div class="form-row coming-soon-form-row">
        <div class="col-auto my-1">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            <button type="submit" class="btn btn-secondary">Subscribe</button>
        </div>
    </div>
</form>