<h5 class="coming-soon-text">Our website is coming soon. Subscribe to be notified.</h5>

<style>

     .coming-soon-text {
            color: white;
            font-variant: small-caps;
        }

</style>

