<h2 class="coming-soon-slogan"><span>#GRINDDONTSTOP</span></h2>

<style>
        .coming-soon-slogan {
            color: white;
            font-family: 'Unica One', cursive;
            font-size: 30px;
        }
        h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    margin: 0 0 0 20px;
}

</style>