<ul class="coming-soon-social">
    <a href="https://www.facebook.com/SKara.Photography/"><li><i class="fa fa-facebook-square"></i></li></a>
    <a href="https://www.instagram.com/skara.photography/"><li><i class="fa fa-instagram"></i></li></a>
</ul>

<style>
            .coming-soon-social {
            color: white;
            font-size: 40px;
        }
        
        .coming-soon-social li {
            display: inline;
        }
</style>