<!DOCTYPE html>
<html>
<head>
    <% include ../../partials/head.ejs %>
    <% include ../../partials/scripts.ejs %>
</head>
<body>
    <div class="container-fluid about-container">
        <div class="row about-row-1">
             <div class="col-md-2 about-logo-container">
                <div class="about-logo">
                        <img src="images/public/logo-no-text.png">
                </div>
            </div>
            <div class="col-md-8 col-xs-6 about-nav-container">
                <div class="about-nav">
                    <% include ../../public-components/public-nav.ejs %>
                </div>
            </div>
            <div class="col-md-2 about-social-container">
                <div class="about-social">
                </div>
            </div>
        </div>
    </div>
</body>

<style>

    @media only screen and (max-width: 629px) {
        .about-nav {
            display: none;
        }
    }

    .navbar img {
        width: 100px;
    }

    .about-logo img {
        width: 50%;
        margin: 0 auto;
        display: block;
    }

    .about-container, .about-row-1 {
        margin: 0;
        padding: 0;
    }

    .about-row-1 {
        border: 2px red solid;
    }

    .about-logo-container {
        padding: 0;
        border: 1px yellow solid;
    }


    .about-nav-container {
        margin-top: auto;
        margin-bottom: auto;
        border: 1px yellow solid;
        padding: 0;
    }

    .about-nav a {
        color: white;
    }
</style>

</html>