<!DOCTYPE html>
<html>
<head>
    <% include ../../partials/head.ejs %>
</head>
<body>
    <div class="container-fluid home-container-fluid">
        <div class="row public-header-row align-items-center justify-content-between">
            <div class="col-md-2 col-4 public-logo-col">
                <% include ../../public-components/public-logo.ejs %>
            </div>
            <div class="col-md-8 col-4 public-nav-col">
                <% include ../../public-components/public-nav.ejs %>
            </div>
            <div class="col-md-2 public-social-col">
            </div>
        </div>
    </div>
    <div class="row align-items-center home-hero-text-row">
        <div class="col">
            <% include components/home-hero-text.ejs %>
        </div>
    </div>
</body>
</html>